# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.
# Unless a later match takes precedence, global owners will be 
# requested for review when someone opens a pull request.


# Global owners
* @cckitpw @language-learning-laboratory @sivareddyg @xhluca

# Jekyll (Webpage)
/_sass/ @xhluca
/_layouts/ @xhluca
/_includes/ @xhluca
/_data/ @xhluca
/assets/ @xhluca

# Python scripts
/src/python/ @xhluca

# Tests
/tests/ @xhluca

# GitHub issue templates (Automation)
/.github/ISSUE_TEMPLATE/ @xhluca

# GitHub Actions (Automation)
/.github/workflows/ @xhluca

# Authors
_data/authors.yml @cckitpw @language-learning-laboratory @sivareddyg @xhluca

# Pages
/_pages/ @cckitpw @language-learning-laboratory @sivareddyg @xhluca

# Profiles
/_pages/profiles/siva.md @sivareddyg

# Other directories without codeowners
/ignored/
