# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
# Each line is a file pattern followed by one or more owners.
# Unless a later match takes precedence, global owners will be 
# requested for review when someone opens a pull request.


# Global owners
* @xhluca @Senyu-Li1 @cesare-spinoso

# Jekyll (Webpage)
/_sass/ @xhluca @Senyu-Li1 @cesare-spinoso
/_layouts/ @xhluca @Senyu-Li1 @cesare-spinoso
/_includes/ @xhluca @Senyu-Li1 @cesare-spinoso
/_data/ @xhluca @Senyu-Li1 @cesare-spinoso
/assets/ @xhluca @Senyu-Li1 @cesare-spinoso
/_config.yml @xhluca @Senyu-Li1 @cesare-spinoso
/favicon.ico @xhluca @Senyu-Li1 @cesare-spinoso
/Gemfile @xhluca @Senyu-Li1 @cesare-spinoso

# Python scripts
/src/python/ @xhluca @Senyu-Li1 @cesare-spinoso

# Unit Tests
/tests/ @xhluca @Senyu-Li1 @cesare-spinoso

# GitHub issue templates (Automation)
/.github/ISSUE_TEMPLATE/ @xhluca @Senyu-Li1 @cesare-spinoso

# GitHub Actions (Automation)
/.github/workflows/ @xhluca @Senyu-Li1 @cesare-spinoso

# Authors
_data/authors.yml @cckitpw @language-learning-laboratory @sivareddyg @xhluca @Senyu-Li1 @cesare-spinoso

# Pages
/_pages/ @xhluca @Senyu-Li1 @cesare-spinoso

# Profiles
/_pages/profiles/siva.md @sivareddyg

# Other directories without codeowners
/records/
