article.publication-card {
    display: grid;
    grid-template-areas:
        "thumbnail title"
        "thumbnail authors"
        "thumbnail venue"
        "thumbnail links"
        "thumbnail .";
    grid-template-columns: 300px 1fr;

    @media (max-width: 600px) {
        grid-template-areas:
        "title"
        "authors"
        "venue"
        "links"
        "thumbnail";
        grid-template-columns: 1fr;
    }

    column-gap: 15px;
    margin-top: 1.5em;
    align-items: start;
    align-content: start;
}

.publication-thumbnail {
    grid-area: thumbnail;
    object-fit: contain;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.publication-title {
    grid-area: title;
    margin: 0 0 5px 0;
    >a {
        text-decoration: none;
    }
}

.publication-authors {
    grid-area: authors;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}

.publication-venue {
    grid-area: venue;
    font-weight: bold;
}

.publication-links {
    grid-area: links;
}

.publication-ext-link {
    text-decoration: none;
    margin-right: 15px;
    display: inline-block;
}
